// Animation to fade in the dropdown menus
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navbar {
  font-family: FontBold;
}

.yudiho-header {
  justify-content: center;
  padding: 10px 0px;
  ul {
    li {
      margin: 5px 10px;
      p {
        font-family: FontRegular;
      }
      .active {
        color: $yudiho-color-1 !important;
      }
      a {
        color: $yudiho-color-1 !important;
      }
    }
  }
  .card-list {
    list-style: none;
  }
}

// Assigning the above animation to all dropdown menus
.dropdown-menu {
  border-radius: 15px;
  &.show {
    -webkit-animation: fadeIn 0.3s alternate; /* Safari 4.0 - 8.0 */
    animation: fadeIn 0.3s alternate;
  }
}

// Mega Menu adjustments
.nav-item.dropdown.dropdown-mega {
  position: static;
  .dropdown-menu {
    width: 90%;
    top: auto;
    left: 5%;
  }
}

// Complete styles for main navbar toggler and hamburger menu
.navbar-toggler {
  border: none;
  padding: 0;
  outline: none;
  &:focus {
    box-shadow: none;
  }
  .hamburger-toggle {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    z-index: 11;
    float: right;
    .hamburger {
      position: absolute;
      transform: translate(-50%, -50%) rotate(0deg);
      left: 50%;
      top: 50%;
      width: 50%;
      height: 50%;
      pointer-events: none;
      span {
        width: 100%;
        height: 4px;
        position: absolute;
        background: #333;
        border-radius: 2px;
        z-index: 1;
        transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1.0), all 0.2s ease-in-out;
        left: 0px;
        &:first-child {
          top: 10%;
          transform-origin: 50% 50%;
          transform: translate(0% -50%) !important;
        }
        &:nth-child(2) {
          top: 50%;
          transform: translate(0, -50%);
        }
        &:last-child {
          left: 0px;
          top: auto;
          bottom: 10%;
          transform-origin: 50% 50%;
        }
      }
      &.active {
        span {
          position: absolute;
          margin: 0;
          &:first-child {
            top: 45%;
            transform: rotate(45deg);
          }
          &:nth-child(2) {
            left: 50%;
            width: 0px;
          }
          &:last-child {
            top: 45%;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}

.icons {
  display: inline-flex;
  margin-left: auto;
  a {
    transition: all 0.2s ease-in-out;
    padding: 0.2rem 0.4rem;
    color: #ccc !important;
    text-decoration: none;
    &:hover {
      color: white;
      text-shadow: 0 0 30px white;
    }
  }
}

.navbar-card {

  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  background-position: center;
  overflow: hidden;
  position: relative;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 10px;
  .result-body {
    position: absolute;
    left: 30px;
    right: 15px;
    bottom: 0;
    transition: all linear 0.25s;
  }
  img.full-width {
    transition: all linear 0.25s;
    width: 100%;
    height: auto;
  }
  .result-heading {
    font-size: 30px;
    line-height: 1;
    color: #FFF;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    position: relative;
    transition: all 400ms ease-out;
    text-transform: uppercase;
    &:before {
      position: absolute;
      left: 0;
      top: -7px;
      transform: translateX(0);
    }
    &:after {
      position: absolute;
      left: 0;
      bottom: -7px;
      transform: translateX(-200px);
    }
    &:hover, &:after {
      content: "";
      display: inline-block;
      background: #fff;
      border-radius: 20px;
      width: 120px;
      height: 2px;
      margin-right: 0;
      margin-left: 0;
      transition: all 250ms ease-in;
    }
  }
  .result-description {
    visibility: hidden;
    opacity: 0;
    line-height: 1.4;
    color: #FFF;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    height: unset;
    transition: all linear 0.25s;
    font-size: 14px;
  }
  &:hover {
    .result-body {
      bottom: 30px;
    }
    .result-heading {
      color: $yudiho-color-1;
    }
    .result-description {
      text-shadow: 0px 0px 20px #000;
    }
  }
}

.navbar-card:hover .result-heading::before {
  content: "";
  background: $yudiho-color-1;
  transform: translateX(-200px);
}

.navbar-card:hover .result-heading::after {
  content: "";
  background: $yudiho-color-1;
  transform: translateX(0);
}

.navbar-card:hover .result-description {
  visibility: visible;
  opacity: 1;
  transition: all 400ms ease-out;
  height: initial;
}
