
.search-widget {
  display: inline-block;
  width: 100%;
  font-family: FontRegular;
  .title {
    font-family: FontSemiBold;
    margin: 1rem 0px;
    color: $yudiho-color-1;
  }
  .form-control {
    padding-left: 2.375rem;
  }
  .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }
}
