.share-social {
  margin: 1rem;
  padding: 1rem;
  a{
    text-decoration: none;
  }
}

.share-social i {
  display: inline;
  text-align: center;
  color: #979797!important;
  padding: 0 0.5rem 0.25rem 0.5rem;
  margin: 0 0.5rem 0.25rem 0.5rem;
  width: 7rem;
  font-size: 1.5rem;
  position: relative;
  bottom: 0px;
  transition: all 0.25s ease;
  border-bottom: 3px solid #979797;
  border-radius: 0%;
}

.share-social i:hover {
  bottom: 0.25rem;
  border-radius: 50%;
}

.share-social i.fa-twitter:hover {
  color: #00cdff!important;
  border-bottom: 3px solid #00cdff;
}

.share-social i.fa-facebook:hover {
  color: #305c99!important;
  border-bottom: 3px solid #305c99;
}

.share-social i.fa-linkedin:hover {
  color: #007bb6!important;
  border-bottom: 3px solid #007bb6;
}