.tag-area {
  margin-top: 10px;
  span {
    font-family: FontBold;
    float: left;
    border: 2px solid #0F044C;
    padding: 5px 5px;
    margin: 5px 10px;
    max-width: 100px;
    color: #2b3961;
    border-radius: 25px;
  }
}